@use "../abstracts";
.auth {
    display: flex;
    min-height: 100vh;
    &__intro,
    &__content {
        flex: 1;
        padding: 0 30px;
    }
    &__intro {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        &-logo,
        &-next {
            position: absolute;
            left: 50%;
            translate: -50%;
        }
        &-logo {
            top: 80px;

            @include abstracts.screen(md) {
                margin-left: 0;
            }
        }
        &-next {
            bottom: 50px;
        }
        &-img {
            width: 100%;
        }
        &-text {
            font-size: 1.8rem;
            max-width: 412px;
            text-align: center;
            font-weight: 500;
            line-height: 144.444%;
        }
    }
    &__content {
        background: var(--auth-content-bg);
        @include abstracts.screen(md) {
            &.hide {
                translate: 100%;
            }
            position: fixed;
            inset: 0;
            z-index: 1;
            overflow-y: auto;
            transition: translate 0.3s;
        }
        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 0;
            width: min(460px, 100%);
            margin: 0 auto;
        }
    }
    &__heading {
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%;
    }
    &__desc {
        text-align: center;
        color: #9e9da8;
        margin-top: 10px;
        padding: 0 30px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
    &__form {
        width: 100%;
        margin-top: 30px;
    }
    &__link {
        color: #0071dc;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
    &__btn-group {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
    }
    &__btn {
        width: 100%;
    }
    &__text {
        color: #9e9da8;
        margin-top: 108px;
        font-size: 1.8rem;
        line-height: 144.444%;
    }
}
