@use "../abstracts";
html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(9%) saturate(3544%) hue-rotate(210deg) brightness(93%)
        contrast(97%);
    --header-bg-color: #eee;
    --footer-bg-color: var(--header-bg-color);
    --body-bg: #f6f6f6;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;
    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }
    //Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;
    //Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
    //Category-item
    --cate-item-bg: #eee;
    --cate-item-thumb: #fff;
    --cate-item-title-color: #000;
    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }
    //Buttons
    --filter-btn-color: #6c6c72;
    --filter-btn-bg: #fff;
    --like-btn-shadow: rgba(124, 124, 124, 0.2);
    //Product card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);
    //Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --filter-form-tag-bg: #f8f8fb;
    --filter-form-footer-bg: var(--filter-form-bg);
    //Auth
    --auth-content-bg: #fff;
}
