@use "../abstracts";
.review-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;
    border-radius: 1.6rem;
    background: var(--review-card-bg);
    &__content {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        @include abstracts.screen(xl) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        @include abstracts.screen(md) {
            flex-direction: row;
            align-items: initial;
            text-align: initial;
        }
    }
    &__avatar {
        height: 80px;
        width: 80px;
        object-fit: cover;
        border-radius: 50%;
    }
    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }
    &__desc {
        margin-top: 10px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
    }
    &__rating {
        margin-top: auto;
        display: flex;
        gap: 8px;
        align-items: center;
        @include abstracts.screen(xl) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        @include abstracts.screen(md) {
            flex-direction: row;
        }
        &-title {
            font-size: 1.8rem;
            margin-left: 12px;
            font-weight: 500;
            line-height: 144.444%;
        }
    }
    &__star-list {
        display: flex;
        gap: 8px;
    }
}
